In [1]:
from sklearn import datasets
from sklearn.utils import shuffle
import pandas as pd

In [2]:
iris = datasets.load_iris()

In [3]:
iris_X = iris.data
iris_y = iris.target

In [4]:
iris_X = iris_X[iris_y <2]    #抽取两个

In [5]:
iris_y = iris_y[iris_y <2]

In [6]:
iris_y[iris_y==0] = -1

In [7]:
data1 = pd.DataFrame(iris_X)

In [8]:
data2 = pd.DataFrame(iris_y)

In [9]:
data = pd.concat([data1,data2],axis=1)

In [10]:
data = shuffle(data)

In [11]:
data.head()

      0    1    2    3  0
6   4.6  3.4  1.4  0.3 -1
51  6.4  3.2  4.5  1.5  1
61  5.9  3.0  4.2  1.5  1
90  5.5  2.6  4.4  1.2  1
19  5.1  3.8  1.5  0.3 -1

In [12]:
# 存储

data.to_csv('svm_data.txt',index = False,header=False,sep='\t')